In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from plotly.subplots import make_subplots
from datetime import datetime

In [32]:
# read the csv file into a pandas dataframe
incomeYR_df = pd.read_csv("Cleaned_GraduatesReportingEmploymentIncome.csv")
incomeYR_df.head()

,REF_DATE,GEO,Educational qualification,Field of study,Graduate statistics,UOM,VALUE,STATUS
0,2011,Canada,"Career, technical or professional training cer...","Total, field of study",Number of graduates,Number,16750.0,NaN
1,2011,Canada,"Career, technical or professional training cer...","Total, field of study",Median employment income two years after gradu...,2021 constant dollars,39500.0,NaN
2,2011,Canada,"Career, technical or professional training cer...","Total, field of study",Median employment income five years after grad...,2021 constant dollars,42600.0,NaN
3,2011,Canada,"Career, technical or professional training cer...","Total, field of study",Median employment income ten years after gradu...,2021 constant dollars,45500.0,NaN
4,2011,Canada,"Career, technical or professional training cer...",Education [1],Number of graduates,Number,680.0,NaN

In [33]:
#getting information about dataset
incomeYR_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2428 entries, 0 to 2427
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   REF_DATE                   2428 non-null   int64
 1   GEO                        2428 non-null   object
 2   Educational qualification  2428 non-null   object
 3   Field of study             2428 non-null   object
 4   Graduate statistics        2428 non-null   object
 5   UOM                        2428 non-null   object
 6   VALUE                      2008 non-null   float64
 7   STATUS                     420 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 151.9+ KB

In [34]:
# getting basic statistics about dataset
incomeYR_df.describe()

       REF_DATE          VALUE
count    2428.0    2008.000000
mean     2011.0   46356.404382
std         0.0   36377.913869
min      2011.0       0.000000
25%      2011.0     907.500000
50%      2011.0   47700.000000
75%      2011.0   75600.000000
max      2011.0  142000.000000

In [35]:
# loop through each column in the dataframe
for column in incomeYR_df.columns:
    # print the unique values and their counts for the current column
    print(incomeYR_df[column].value_counts())

2011    2428
Name: REF_DATE, dtype: int64
Canada                       268
Alberta                      264
British Columbia             260
Manitoba                     240
Saskatchewan                 236
Nova Scotia                  220
Quebec                       216
New Brunswick                212
Newfoundland and Labrador    204
Ontario                      164
Prince Edward Island         144
Name: GEO, dtype: int64
Undergraduate degree                                      548
Master's degree                                           512
Career, technical or professional training diploma        440
Doctoral degree                                           436
Career, technical or professional training certificate    372
Professional degree                                       120
Name: Educational qualification, dtype: int64
Total, field of study                                              252
Health and related fields [10]                                     240
Social and behavioural sciences and law [4]                        232
Architecture, engineering, and related technologies [8]            200
Business, management and public administration [5]                 196
Mathematics, computer and information sciences [7]                 192
Agriculture, natural resources and conservation [9]                192
Education [1]                                                      176
Visual and performing arts, and communications technologies [2]    176
Humanities [3]                                                     164
Physical and life sciences and technologies [6]                    164
Personal, protective and transportation services [11]              132
Other instructional programs [12]                                  112
Name: Field of study, dtype: int64
Number of graduates                                     607
Median employment income two years after graduation     607
Median employment income five years after graduation    607
Median employment income ten years after graduation     607
Name: Graduate statistics, dtype: int64
2021 constant dollars    1821
Number                    607
Name: UOM, dtype: int64
10.0        64
0.0         55
20.0        39
30.0        27
50.0        25
            ..
27500.0      1
31700.0      1
33700.0      1
25700.0      1
138000.0     1
Name: VALUE, Length: 887, dtype: int64
x    420
Name: STATUS, dtype: int64

In [36]:
incomeEd_df = pd.read_csv("Cleaned_IncomeHighestEducationMajorField.csv")
incomeEd_df.head()

,REF_DATE,GEO,"Highest certificate, diploma or degree (16)",Major field of study - Classification of Instructional Programs (CIP) 2021 (14),Employment income statistics (7),VALUE,STATUS
0,2021,Canada,"Total - Highest certificate, diploma or degree",Total - Major field of study - Classification ...,Total - Employment income statistics,30335920,NaN
1,2021,Canada,"Total - Highest certificate, diploma or degree",Total - Major field of study - Classification ...,With employment income,21127690,NaN
2,2021,Canada,"Total - Highest certificate, diploma or degree",Total - Major field of study - Classification ...,Median employment income ($),37200,NaN
3,2021,Canada,"Total - Highest certificate, diploma or degree",Total - Major field of study - Classification ...,Average employment income ($),50280,NaN
4,2021,Canada,"Total - Highest certificate, diploma or degree",Total - Major field of study - Classification ...,"With wages, salaries and commissions",19392230,NaN

In [37]:
incomeEd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 923 entries, 0 to 922
Data columns (total 7 columns):
 #   Column                                                                           Non-Null Count  Dtype
---  ------                                                                           --------------  -----
 0   REF_DATE                                                                         923 non-null    int64
 1   GEO                                                                              923 non-null    object
 2   Highest certificate, diploma or degree (16)                                      923 non-null    object
 3   Major field of study - Classification of Instructional Programs (CIP) 2021 (14)  923 non-null    object
 4   Employment income statistics (7)                                                 923 non-null    object
 5   VALUE                                                                            923 non-null    int64
 6   STATUS                                                                           76 non-null     object
dtypes: int64(2), object(5)
memory usage: 50.6+ KB

In [39]:
for column in incomeEd_df.columns:
    print(incomeEd_df[column].value_counts())

2021    923
Name: REF_DATE, dtype: int64
Canada    923
Name: GEO, dtype: int64
Total - Highest certificate, diploma or degree                     98
Postsecondary certificate, diploma or degree                       95
Postsecondary certificate or diploma below bachelor level          95
College, CEGEP or other non-university certificate or diploma      95
University certificate or diploma below bachelor level             95
Bachelor’s degree or higher                                        95
Bachelor's degree                                                  95
University certificate or diploma above bachelor level             95
Master's degree                                                    95
Degree in medicine, dentistry, veterinary medicine or optometry    65
Name: Highest certificate, diploma or degree (16), dtype: int64
Total - Major field of study - Classification of Instructional Programs (CIP) 2021    70
Agriculture, natural resources and conservation                                       70
Health and related fields                                                             70
Education                                                                             67
Visual and performing arts, and communications technologies                           67
Humanities                                                                            67
Social and behavioural sciences and law                                               67
Business, management and public administration                                        67
Physical and life sciences and technologies                                           67
Mathematics, computer and information sciences                                        67
Architecture, engineering, and related trades                                         67
Personal, protective and transportation services                                      67
Other                                                                                 67
No postsecondary certificate, diploma or degree                                       43
Name: Major field of study - Classification of Instructional Programs (CIP) 2021 (14), dtype: int64
Median employment income ($)                   140
Average employment income ($)                  140
Median wages, salaries and commissions ($)     140
Average wages, salaries and commissions ($)    140
Total - Employment income statistics           121
With employment income                         121
With wages, salaries and commissions           121
Name: Employment income statistics (7), dtype: int64
0         76
59200      7
59600      6
43600      6
46000      5
          ..
36440      1
75965      1
37360      1
255025     1
74400      1
Name: VALUE, Length: 655, dtype: int64
...    76
Name: STATUS, dtype: int64

In [40]:
labourstatus_df = pd.read_csv("Cleaned_LabourForce.csv")
labourstatus_df.head(20)

,REF_DATE,GEO,"Highest certificate, diploma or degree (16)",Labour force status (8),VALUE
0,2021,Canada,"Total - Highest certificate, diploma or degree",Total - Labour force status,30335915.0
1,2021,Canada,"Total - Highest certificate, diploma or degree",In the labour force,19310340.0
2,2021,Canada,"Total - Highest certificate, diploma or degree",Employed,17321700.0
3,2021,Canada,"Total - Highest certificate, diploma or degree",Unemployed,1988645.0
4,2021,Canada,"Total - Highest certificate, diploma or degree",Not in the labour force,11025575.0
5,2021,Canada,"Total - Highest certificate, diploma or degree",Participation rate,63.7
6,2021,Canada,"Total - Highest certificate, diploma or degree",Employment rate,57.1
7,2021,Canada,"Total - Highest certificate, diploma or degree",Unemployment rate,10.3
8,2021,Canada,"No certificate, diploma or degree",Total - Labour force status,4899580.0
9,2021,Canada,"No certificate, diploma or degree",In the labour force,1776575.0
10,2021,Canada,"No certificate, diploma or degree",Employed,1477990.0
11,2021,Canada,"No certificate, diploma or degree",Unemployed,298590.0
12,2021,Canada,"No certificate, diploma or degree",Not in the labour force,3123000.0
13,2021,Canada,"No certificate, diploma or degree",Participation rate,36.3
14,2021,Canada,"No certificate, diploma or degree",Employment rate,30.2
15,2021,Canada,"No certificate, diploma or degree",Unemployment rate,16.8
16,2021,Canada,High (secondary) school diploma or equivalency...,Total - Labour force status,8097295.0
17,2021,Canada,High (secondary) school diploma or equivalency...,In the labour force,4814115.0
18,2021,Canada,High (secondary) school diploma or equivalency...,Employed,4124800.0
19,2021,Canada,High (secondary) school diploma or equivalency...,Unemployed,689310.0

In [41]:
labourstatus_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1784 entries, 0 to 1783
Data columns (total 5 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   REF_DATE                                     1784 non-null   int64
 1   GEO                                          1784 non-null   object
 2   Highest certificate, diploma or degree (16)  1784 non-null   object
 3   Labour force status (8)                      1784 non-null   object
 4   VALUE                                        1784 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 69.8+ KB

In [42]:
for column in labourstatus_df.columns:
    print(labourstatus_df[column].value_counts())

2021    1784
Name: REF_DATE, dtype: int64
Canada                       128
Newfoundland and Labrador    128
Prince Edward Island         128
Nova Scotia                  128
New Brunswick                128
Quebec                       128
Ontario                      128
Manitoba                     128
Saskatchewan                 128
Alberta                      128
British Columbia             128
Yukon                        127
Northwest Territories        126
Nunavut                      123
Name: GEO, dtype: int64
Total - Highest certificate, diploma or degree                     112
No certificate, diploma or degree                                  112
High (secondary) school diploma or equivalency certificate         112
Postsecondary certificate, diploma or degree                       112
Postsecondary certificate or diploma below bachelor level          112
Apprenticeship or trades certificate or diploma                    112
Non-apprenticeship trades certificate or diploma                   112
Apprenticeship certificate                                         112
College, CEGEP or other non-university certificate or diploma      112
University certificate or diploma below bachelor level             112
Bachelor’s degree or higher                                        112
Bachelor's degree                                                  112
University certificate or diploma above bachelor level             112
Master's degree                                                    111
Degree in medicine, dentistry, veterinary medicine or optometry    109
Earned doctorate                                                   108
Name: Highest certificate, diploma or degree (16), dtype: int64
Total - Labour force status    224
In the labour force            224
Employed                       224
Participation rate             224
Employment rate                224
Unemployment rate              224
Not in the labour force        222
Unemployed                     218
Name: Labour force status (8), dtype: int64
71.1       8
6.7        8
4.5        6
0.0        6
76.2       6
          ..
7395.0     1
12335.0    1
43130.0    1
8065.0     1
93.0       1
Name: VALUE, Length: 1401, dtype: int64

In [45]:
tuition_df = pd.read_csv("Cleaned_UndergraduateTuitionFees.csv")
tuition_df.head(20)

,REF_DATE,GEO,Field of study,VALUE,STATUS
0,2022/2023,Canada,"Total, field of study",6872.0,NaN
1,2023/2024,Canada,"Total, field of study",7076.0,NaN
2,2022/2023,Canada,Education,5191.0,NaN
3,2023/2024,Canada,Education,5358.0,NaN
4,2022/2023,Canada,"Visual and performing arts, and communications...",6152.0,NaN
5,2023/2024,Canada,"Visual and performing arts, and communications...",6312.0,NaN
6,2022/2023,Canada,Humanities,5914.0,NaN
7,2023/2024,Canada,Humanities,6080.0,NaN
8,2022/2023,Canada,"Social and behavioural sciences, and legal stu...",5885.0,NaN
9,2023/2024,Canada,"Social and behavioural sciences, and legal stu...",6040.0,NaN
10,2022/2023,Canada,Law,13200.0,NaN
11,2023/2024,Canada,Law,13621.0,NaN
12,2022/2023,Canada,Business management and public administration,7297.0,NaN
13,2023/2024,Canada,Business management and public administration,7571.0,NaN
14,2022/2023,Canada,Physical and life sciences and technologies,6005.0,NaN
15,2023/2024,Canada,Physical and life sciences and technologies,6167.0,NaN
16,2022/2023,Canada,"Mathematics, computer and information sciences",7074.0,NaN
17,2023/2024,Canada,"Mathematics, computer and information sciences",7278.0,NaN
18,2022/2023,Canada,Engineering,8618.0,NaN
19,2023/2024,Canada,Engineering,8879.0,NaN

In [47]:
tuition_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   REF_DATE        398 non-null    object
 1   GEO             398 non-null    object
 2   Field of study  398 non-null    object
 3   VALUE           392 non-null    float64
 4   STATUS          6 non-null      object
dtypes: float64(1), object(4)
memory usage: 15.7+ KB

In [48]:
for column in tuition_df.columns:
    print(tuition_df[column].value_counts())

2022/2023    199
2023/2024    199
Name: REF_DATE, dtype: int64
Canada                       40
Quebec                       40
Ontario                      40
Saskatchewan                 38
Alberta                      38
Nova Scotia                  36
Manitoba                     36
British Columbia             36
Newfoundland and Labrador    30
New Brunswick                30
Prince Edward Island         26
Yukon                         8
Name: GEO, dtype: int64
Total, field of study                                          24
Business management and public administration                  24
Physical and life sciences and technologies                    24
Education                                                      24
Nursing                                                        22
Visual and performing arts, and communications technologies    22
Humanities                                                     22
Social and behavioural sciences, and legal studies             22
Other health, parks, recreation and fitness                    22
Mathematics, computer and information sciences                 22
Engineering                                                    22
Agriculture, natural resources and conservation                22
Pharmacy                                                       20
Personal, protective and transportation services               20
Medicine                                                       18
Law                                                            18
Dentistry                                                      16
Architecture                                                   16
Veterinary medicine                                            12
Optometry                                                       6
Name: Field of study, dtype: int64
6828.0    10
6570.0    10
6872.0     2
6381.0     2
4200.0     2
          ..
9333.0     1
8260.0     1
7958.0     1
8588.0     1
6452.0     1
Name: VALUE, Length: 361, dtype: int64
..    6
Name: STATUS, dtype: int64

In [49]:
tuitionAdd_df = pd.read_csv("Cleaned_TuitionAdditionalFees.csv")
tuitionAdd_df.head(20)

     REF_DATE                        GEO          Level of study   VALUE
0   2019/2020                     Canada  Canadian undergraduate  7382.0
1   2020/2021                     Canada  Canadian undergraduate  7508.0
2   2021/2022                     Canada  Canadian undergraduate  7659.0
3   2022/2023                     Canada  Canadian undergraduate  7916.0
4   2023/2024                     Canada  Canadian undergraduate  8167.0
5   2019/2020                     Canada       Canadian graduate  8048.0
6   2020/2021                     Canada       Canadian graduate  8245.0
7   2021/2022                     Canada       Canadian graduate  8282.0
8   2022/2023                     Canada       Canadian graduate  8400.0
9   2023/2024                     Canada       Canadian graduate  8608.0
10  2019/2020  Newfoundland and Labrador  Canadian undergraduate  3821.0
11  2020/2021  Newfoundland and Labrador  Canadian undergraduate  3806.0
12  2021/2022  Newfoundland and Labrador  Canadian undergraduate  3879.0
13  2022/2023  Newfoundland and Labrador  Canadian undergraduate  4223.0
14  2023/2024  Newfoundland and Labrador  Canadian undergraduate  3858.0
15  2019/2020  Newfoundland and Labrador       Canadian graduate  3527.0
16  2020/2021  Newfoundland and Labrador       Canadian graduate  3340.0
17  2021/2022  Newfoundland and Labrador       Canadian graduate  4244.0
18  2022/2023  Newfoundland and Labrador       Canadian graduate  4090.0
19  2023/2024  Newfoundland and Labrador       Canadian graduate  3541.0

In [50]:
tuitionAdd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   REF_DATE        120 non-null    object
 1   GEO             120 non-null    object
 2   Level of study  120 non-null    object
 3   VALUE           115 non-null    float64
dtypes: float64(1), object(3)
memory usage: 3.9+ KB

In [51]:
for column in tuitionAdd_df.columns:
    print(tuitionAdd_df[column].value_counts())

2019/2020    24
2020/2021    24
2021/2022    24
2022/2023    24
2023/2024    24
Name: REF_DATE, dtype: int64
Canada                       10
Newfoundland and Labrador    10
Prince Edward Island         10
Nova Scotia                  10
New Brunswick                10
Quebec                       10
Ontario                      10
Manitoba                     10
Saskatchewan                 10
Alberta                      10
British Columbia             10
Yukon                        10
Name: GEO, dtype: int64
Canadian undergraduate    60
Canadian graduate         60
Name: Level of study, dtype: int64
7382.0     1
4620.0     1
9794.0     1
9390.0     1
8968.0     1
          ..
10653.0    1
10312.0    1
10048.0    1
9556.0     1
4669.0     1
Name: VALUE, Length: 115, dtype: int64